.check_box {
    display:none;
    padding: 2 2 2 2px;
}

div.robo{
  display: inline
}

.check_box + label{
    height: 64px;
    width: 80px;
    display:inline-block;
    padding: 2px;
}

.check_box.wide + label{
    width: 250px;
}

.check_box:checked + label{
    background: none !important;
    height: 64px;
    width: 80px;
    display:inline-block;
    padding: 2px;
}

.check_box.wide:checked + label{
    width: 250px;
}

body {
  background-color: #000;
}